<!DOCTYPE html>
<html ng-app="weatherAppChatham">
<head>
    <title>Weather App</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
</head>
<body ng-controller="weatherCtrl" class="container">
    <h1>Weather App</h1>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group" style="margin:12px">
                <label>Choose weather source</label>
                <label class="radio-inline"><input type="radio" name="weatherSource" value="forecastIO" ng-model="weatherSource" ng-click="toggleSource()" />Forecast IO</label>
                <label class="radio-inline"><input type="radio" name="weatherSource" value="wunderground" ng-model="weatherSource" ng-click="toggleSource()" />Weather Underground</label>

                <br />
            </div>
        </div>

        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Enter a location" ng-model="address" />
        </div>

        <button type="button" class="btn btn-primary" ng-click="search()">Search</button>
    </div>
       
    <hr />
    <br />

    <div ui-view="center"></div>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/weatherApp")
</body>
</html>
