<h4 ng-bind="forecastIOInfo.address"></h4>

<div class="col-md-6">
    <div class="container bootcards-container">
        <div class="col-md-6 bootcards-list">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>CURRENT CONDITIONS</h5>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <i class="{{weatherIcon}}" id="weather-icon"></i>
                        <p class="currentTemp"><span ng-bind="forecastIOInfo.currentWeather.temperature"></span>° F</p>
                        <p><span ng-bind="forecastIOInfo.currentWeather.summary"></span></p>
                    </div>
                    <div class="col-md-6">
                        <p>Hi: <span ng-bind="forecastIOInfo.dailyWeather.dailyWeatherList[0].temperatureMax"></span>° F</p>
                        <p>Low: <span ng-bind="forecastIOInfo.dailyWeather.dailyWeatherList[0].temperatureMin"></span>° F</p>
                        <p>Feels Like: <span ng-bind="forecastIOInfo.currentWeather.apparentTemperature"></span>° F</p>
                        <p>Visibility: <span ng-bind="forecastIOInfo.currentWeather.visibility"></span> miles</p>
                    </div>
                </div>
                <div class="panel-footer" ng-if="source">
                    <p><small>Source: <a href="http://forecast.io">Forecast.IO</a></small></p>
                </div>
                <div class="panel-footer" ng-if="!source">
                    <p><small>Source: <a href="http://www.wunderground.com/">Weather Underground</a></small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="container bootcards-container push-right">
        <div class="col-md-6 bootcards-list">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>WEATHER DETAILS</h5>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <p>Chance of Rain: <span ng-bind="forecastIOInfo.dailyWeather.dailyWeatherList[0].precipProbablity"></span>%</p>
                        <p>Wind Speed: <span ng-bind="forecastIOInfo.currentWeather.windSpeed"></span> mph</p>
                        <p>Sunrise: <span ng-bind="forecastIOInfo.dailyWeather.dailyWeatherList[0].sunriseTime"></span></p>
                        <p>Sunset: <span ng-bind="forecastIOInfo.dailyWeather.dailyWeatherList[0].sunsetTime"></span></p>
                    </div>
                    <div class="col-md-6">
                        <p>Dew Point: <span ng-bind="forecastIOInfo.currentWeather.dewPoint"></span>° F</p>
                        <p>Humidity: <span ng-bind="forecastIOInfo.currentWeather.humidity"></span>%</p>
                        <p>Pressure: <span ng-bind="forecastIOInfo.currentWeather.pressure"></span>mb</p>
                        <p>Details: <span ng-bind="forecastIOInfo.dailyWeather.dailyWeatherList[0].summary"></span></p>
                    </div>
                </div>
                <div class="panel-footer" ng-if="source">
                    <p><small>Source: <a href="http://forecast.io">Forecast.IO</a></small></p>
                </div>
                <div class="panel-footer" ng-if="!source">
                    <p><small>Source: <a href="http://www.wunderground.com/">Weather Underground</a></small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<hr>

<!--7 day forecast-->
<div class="col-md-12" ng-if="source">
    <h4>7-Day Forecast <small>(Source: <a href="http://forecast.io">Forecast.IO)</a></small></h4>
</div>
<div class="col-md-12" ng-if="!source">
    <h4>7-Day Forecast <small>(Source: <a href="http://www.wunderground.com/">Weather Underground)</a></small></h4>
</div>

<!--7 day forecast header-->
<div class="col-md-12">
    <div class=" container bootcards-container">
        <div class="col-md-12 bootcards-list">
            <div class="panel panel-primary" style="background-color:lightsteelblue">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <p><b>DAY</b></p>
                        </div>
                        <div class="col-md-2">
                            <p><b>TEMP</b></p>
                        </div>
                        <div class="col-md-3">
                            <p><b>COND</b></p>
                        </div>
                        <div class="col-md-1">
                            <p><b>PRECIP</b></p>
                        </div>
                        <div class="col-md-2">
                            <p><b>HUMIDITY</b></p>
                        </div>
                        <div class="col-md-1">
                            <p><b>WIND</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  7 day weather -->
<div class="col-md-12">
    <div class=" container bootcards-container">
        <div class="col-md-12 bootcards-list">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12" ng-repeat="day in forecastIOInfo.dailyWeather.dailyWeatherList">
                        <div class="col-md-3">
                            <p><b><span ng-bind="day.time"></span></b></p>
                        </div>
                        <div class="col-md-2">
                            <p><span ng-bind="day.temperatureMax"></span> ° F</p>
                        </div>
                        <div class="col-md-3">
                            <p><span ng-bind="day.summary"></span></p>
                        </div>
                        <div class="col-md-1">
                            <p><span ng-bind="day.precipProbablity"></span> %</p>
                        </div>
                        <div class="col-md-2">
                            <p><span ng-bind="day.humidity"></span> %</p>
                        </div>
                        <div class="col-md-1">
                            <p><span ng-bind="day.windSpeed"></span> mph</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>